<h1>Editando Breatsfeeding</h1>

<%= render 'form', breatsfeeding: @breatsfeeding %>

<%= link_to 'Show', baby_breatsfeeding_path(@baby, @breatsfeeding) %>
<%= link_to 'Back', baby_breatsfeedings_path(@baby) %>
